/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #222831;
}
.title::selection {
  background-color: #9facbe;
  color: white;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* all similar content styling codes */
section {
  padding: 100px 0;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.about,
.services,
.skills .contact,
footer {
  font-family: "Poppins", sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
  color: #9facbe;
}
.title::after {
  content: "";
  display: block;
  margin: auto;
  width: 20%;
  margin-top: 15px;
  height: 6px;
  border-radius: 6px;
  background-color: #9facbe;
}
/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 15px 0;
  background: #9facbe;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #587993;
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a::after {
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  margin: auto;
  background-color: #9facbe;
  transition: 0.5s;
}
.navbar .logo a:hover::after {
  width: 100%;
}
.navbar .logo a span {
  color: #9facbe;
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
  color: #587993;
}
.navbar .menu li {
  list-style: none;
  padding: 0 15px;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  color: #587993;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease;
}
.navbar.sticky .menu li a:hover {
  color: #587993;
}
.navbar .menu li::after {
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  background: #587993;
  margin: auto;
  transition: 0.5s;
}
.navbar .menu li:hover::after {
  width: 100%;
}
/* menu btn styling */
.menu-btn {
  color: #587993;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #bcc2ce;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #587993;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover {
  filter: brightness(90%);
}

/* home section styling */
.home {
  display: flex;
  background: url("images/banner.png") no-repeat center;
  height: 100vh;
  color: #587993;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}
.home .max-width {
  width: 100%;
  display: flex;
}
.home .max-width .row {
  margin-right: 0;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: #9facbe;
  font-weight: 500;
}
.home .home-content a {
  position: relative;
  display: inline-block;
  color: #587993;
  font-size: 25px;
  padding: 12px 22px;
  margin-top: 20px;
  right: 20px;

  transition: all 0.3s ease;
}
.home .home-content a:hover {
  color: #9facbe;
}
.home .home-content a::after {
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  margin: auto;
  background-color: #9facbe;
  transition: 0.5s;
}
.home .home-content a:hover::after {
  width: 100%;
}
/* about section styling */
.about .about-content .left {
  width: 45%;
  color: rgb(159, 172, 190);
}
.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: rgba(159, 152, 190, 0.174) 0px 2px 1px,
    rgba(159, 152, 190, 0.235) 0px 4px 2px,
    rgba(159, 152, 190, 0.461) 0px 8px 4px,
    rgba(159, 152, 190, 0.461) 0px 16px 8px,
    rgba(159, 152, 190, 0.441) 0px 32px 16px;
  transition: 0.6s;
}
.about .about-content .left img:hover {
  transform: rotate(-10deg);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.about .about-content .right {
  width: 55%;
}
.about .about-content .right .text {
  font-size: 25px;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
  color: #bcc2ce;
}
.about .about-content .right .text span {
  color: #9facbe;
  font-family: "poppins", sans-serif;
}
.about .about-content .right p {
  text-align: justify;
  color: #bcc2ce;
  font-family: "poppins", sans-serif;
}
.about .about-content .right a {
  display: inline-block;
  font-family: "poppins", sans-serif;
  background: #9facbe;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #9facbe;
  transition: all 0.3s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.about .about-content .right a:hover {
  color: #9facbe;
  box-shadow: none;
  background: none;
}

/* services section styling */
.services,
.teams {
  color: #587993;
  background: #222831;
  box-shadow: 0px 0px 15px #393e46;
}
.services .serv-content .card {
  width: calc(33% - 20px);
  background: #222;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  border-radius: 6px;
  padding: 35px 25px;
  cursor: pointer;
  box-shadow: rgba(159, 172, 170, 0.4) -5px 5px,
    rgba(159, 172, 170, 0.3) -10px 10px, rgba(159, 172, 170, 0.2) -15px 15px,
    rgba(159, 172, 170, 0.1) -20px 20px, rgba(159, 172, 170, 0.05) -25px 25px;
  transition: all 0.3s ease;
}
.services .serv-content .card:hover {
  background: #9facaa -5px 5px;
}
.services .serv-content .card .box {
  transition: all 0.3s ease;
}
.services .serv-content .card:hover .box {
  transform: scale(1.05);
}
.services .serv-content .card i {
  font-size: 50px;
  color: #9facbe;
  transition: color 0.3s ease;
}
.services .serv-content .card:hover i {
  color: #587993;
}
.services .serv-content .card .text {
  font-size: 25px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
/* skills section styling */
.skills {
  background: #222831;
  box-shadow: 0px 0px 15px #393e46;
}
.skills .skills-content .column {
  width: calc(50% - 30px);
}
.skills .skills-content .left .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #bcc2ce;
}
.skills .skills-content .left p {
  text-align: justify;
  color: #bcc2ce;
}
.skills .skills-content .left a {
  display: inline-block;
  background: #9facbe;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #9facbe;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: all 0.3s ease;
}
.skills .skills-content .left a:hover {
  color: #9facbe;
  background: none;
  box-shadow: none;
}
.skills .skills-content .right .bars {
  margin-bottom: 15px;
}
.skills .skills-content .right .info {
  display: flex;
  color: #bcc2ce;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-content .right span {
  font-weight: 500;
  font-size: 18px;
}
.skills .skills-content .right .line {
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}
.skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #9facbe;
}
.skills-content .right .html::before {
  width: 90%;
}
.skills-content .right .css::before {
  width: 60%;
}
.skills-content .right .js::before {
  width: 80%;
}
.skills-content .right .php::before {
  width: 50%;
}
.skills-content .right .mysql::before {
  width: 70%;
}

/* contact section styling */
.contact .contact-content .column {
  width: calc(50% - 30px);
}
.contact .contact-content .text {
  font-size: 20px;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
  color: #bcc2ce;
}
.contact .contact-content .left p {
  text-align: justify;
}
.contact .contact-content .left .icons {
  margin: 10px 0;
}
.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info {
  margin-left: 30px;
  font-family: "poppins", sans-serif;
}
.contact .contact-content .row i {
  font-size: 25px;
  color: #9facbe;
}
.contact .contact-content .info .head {
  font-weight: 500;
  color: #bcc2ce;
}
.contact .contact-content .info .sub-title {
  color: #bcc2ceaf;
}
.contact .right form .fields {
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea {
  height: 80px;
  width: 100%;
}
.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: #b3b3b3;
}
.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area {
  display: flex;
  align-items: center;
}
.right form .button-area button {
  color: #ffffff;
  display: block;
  width: 160px !important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: #9facbe;
  border: 2px solid #9facbe;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: all 0.3s ease;
}
.right form .button-area button:hover {
  color: #9facbe;
  background: none;
  box-shadow: none;
}
/* footer section styling */
footer {
  font-family: "poppins", sans-serif;
  background: #111;
  padding: 15px 23px;
  color: #587993;
  text-align: center;
}
footer span a {
  color: #9facbe;
  text-decoration: none;
}
footer span a:hover {
  text-decoration: underline;
}

/* responsive media query start */
@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  .home {
    background: url("images/profile-2.png") no-repeat center;
    background-size: cover;
  }
  .max-width {
    padding: 0 50px;
  }
}
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111111d9;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    position: relative;
    font-size: 23px;
    padding: 10px 30px;
    right: 30px;
  }
  .max-width {
    max-width: 930px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .services .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .skills .skills-content .column,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
  }
  .services .serv-content .card {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .home {
    background: url("images/profile-2.png") no-repeat center;
    background-size: cover;
  }
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 27px;
  }
  .about .about-content .right .text,
  .skills .skills-content .left .text {
    font-size: 19px;
  }
  .contact .right form .fields {
    flex-direction: column;
  }
  .contact .right form .name,
  .contact .right form .email {
    margin: 0;
  }
  .right form .error-box {
    width: 150px;
  }
  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
}
/* The end */
